PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://arifulislam4a0_db_user:g9uRJQ2C8p1uxdd7@cluster0.wfp6fcf.mongodb.net/?appName=Cluster0
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
CLIENT_BASE_URL=https://kk-agro.onrender.com
MAX_FILE_SIZE_MB=5
g9uRJQ2C8p1uxdd7   arifulislam4a0_db_user
mongodb+srv://arifulislam4a0_db_user:g9uRJQ2C8p1uxdd7@cluster0.wfp6fcf.mongodb.net/?appName=Cluster0
